./Transaction/.env
./Transaction/test_transaction.csv
./Transaction/train_transaction.csv
./Cars/.env
./Cars/cars_processed.csv
./Cars/cars_scaled_minmax.csv
./Cars/cars_scaled_standard.csv
./Cars/cars_scaled_robust.csv
./Cars/cars_processed.csv
./Cars/midterm-regresi-dataset.csv
./Cars/X_features_scaled.csv
./Cars/y_target.csv
./Cars/X_features.csv
./Cars/robust_scaler.pkl
./Cars/standard_scaler.pkl
./Cars/minmax_scaler.pkl
./Clustering/.env
./Clustering/clusteringmidterm.csv
*.csv